{%- extends 'base.html' %}

{%- block custom_style %}
<style type="text/css">
table tbody {
    display:block;
    max-height:300px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

table tbody::-webkit-scrollbar {
    display: none;
}

table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    width: calc( 100% - 1em );
}

#controller {
    padding-top: 1em;
    padding-bottom: 1em;
}

#labels-table {
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    table-layout: auto;
}

#labels-table td, #labels-table th {
    padding: .4em;
}
</style>
{%- endblock custom_style %}

{%- block page_body %}
<div class="content-page">
    <div class="content">
        {% include 'page_header.html' %}

        {% if 'ocr_info' in device.dev_config -%}
        <!-- Variable -->
        <div class="d-none" id="dev_ocr_param">{{ device.dev_config.ocr_info | tojson }}</div>
        {%- endif %}

        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <div class="form-inline d-inline">
                                <label class="d-none" for="range-date">Date</label>
                                <input type="text" class="form-control date" id="range-date" data-toggle="date-picker" data-time-picker="true" data-locale="{'format': 'YYYY/MM/DD hh:mm A'}">
                            </div>
                            <div class="btn-group ml-2" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-download"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="txt">
                                        <i class="mdi mdi-file-outline"></i>Text File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="csv">
                                        <i class="mdi mdi-file-document-box-outline"></i>CSV File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="xlsx">
                                        <i class="mdi mdi-file-table-outline"></i>Excel File
                                    </a>
                                </div>
                            </div>
                            {% if current_user.is_admin -%}
                            <a href="javascript: void(0);" class="btn btn-primary ml-2" id="btn-ota-model">
                                <i class="mdi mdi-update"></i>
                            </a>
                            {%- endif %}
                            <a href="javascript: void(0);" class="btn btn-primary ml-2" id="btn-refresh">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                            <a href="javascript: void(0);" class="btn btn-info ml-2" id="btn-back">
                                <i class="mdi mdi-keyboard-backspace"></i>
                            </a>
                        </div>
                        <h1 class="page-title display-4">{{_('page_device_detail')}}</h1>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="d-none" id="cur_device_id">{{device.dev_id}}</div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <div class="card d-block" id="device-card">
                        <div class="text-center p-1">
                            {% if device.dev_type == 1001 %}
                            <img class="card-img-top img-thumbnail rounded-circle" src="{{url_for('static', filename='images/ElectricMeter.png')}}" style="max-width: 150px;" alt="Card image cap">
                            {% endif %}
                            {% if device.dev_type == 1002 %}
                            <img class="card-img-top img-thumbnail rounded-circle" src="{{url_for('static', filename='images/WaterMeter.png')}}" style="max-width: 150px;" alt="Card image cap">
                            {% endif %}
                            {% if device.dev_type == 1003 %}
                            <img class="card-img-top img-thumbnail rounded-circle" src="{{url_for('static', filename='images/GasMeter.png')}}" style="max-width: 150px;" alt="Card image cap">
                            {% endif %}
                            {% if device.dev_type == 1004 %}
                            <img class="card-img-top img-thumbnail rounded-circle" src="{{url_for('static', filename='images/ElectricMeter.png')}}" style="max-width: 150px;" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{device.dev_name}}</h5>
                            <p class="card-text">
                                <small class="text-success">{{_('page_table_title_device_id')}}: </small>
                                <small class="text-muted">{{device.dev_id}}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-success">{{_('page_table_title_device_meter_power')}}: </small>
                                <small class="text-muted">{{device.dev_power|round(1, 'floor')}}%</small>
                            </p>
                            <p class="card-text">
                                <small class="text-success">{{_('page_table_title_device_address')}}: </small>
                                <small class="text-muted">{{ device.dev_address01 }}{{ device.dev_address02 }}{{ device.dev_address03 }}{{device.dev_address04}}-{{device.dev_address05}}-{{device.dev_address06}} {{device.dev_address07}}{{device.dev_address08}}</small>
                            </p>
                            <p class="card-text {{'' if device.dev_comment else 'd-none'}}">
                                <small class="text-success">{{_('page_card_title_device_comment')}}: </small>
                                <small class="text-muted">{{device.dev_comment}}</small>
                            </p>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-10">
                    <div class="card d-block">
                        <div class="card-body">
                            <h4 class="header-title">{{ device.dev_name }} ({{device.dev_id}})</h4>
                            <div class="chart-container" style="position: relative; height:320px;">
                                <canvas id="mixed-{{ device.dev_id }}" class="Apexchart" role="img"></canvas>
                            </div>
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->

            <!-- history meter info -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-body pb-1">
                            <ul class="nav nav-tabs mb-1 d-none">
                                <li class="nav-item">
                                    <a href="#meter_value" data-toggle="tab" id="tab_meter_value" aria-expanded="false" class="nav-link active">
                                        <i class="mdi mdi-table d-lg-none d-block mr-1"></i>
                                        <span class="d-none d-lg-block">{{ _('dev_meter_list') }}</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#meter_image" data-toggle="tab" id="tab_meter_image" aria-expanded="false" class="nav-link">
                                        <i class="mdi mdi-image-outline d-lg-none d-block mr-1"></i>
                                        <span class="d-none d-lg-block">{{ _('Images') }}</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="meter_value">
                                    <div class="row">
                                        <div class="col-xl-12" id="device_list">
                                            <div class="table-responsive-sm">
                                                <table id="data-table" class="table table-sm table-centered table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>{{_('page_table_title_no')}}</th>
                                                            <th>{{_('Se')}}</th>
                                                            <th>{{_('page_table_title_server_receive_time')}}</th>
                                                            <th>{{_('page_table_title_device_meter_value')}}</th>
                                                            <th class="d-none">{{_('page_table_title_device_meter_grow')}}</th>
                                                            <th class="d-none">{{_('page_table_title_device_meter_report_time')}}</th>
                                                            <th>{{_('page_table_title_device_meter_signal_power')}}(dB)</th>
                                                            <th>{{_('page_table_title_device_meter_snr')}}</th>
                                                            <th>{{_('page_table_title_device_meter_rsrq')}}</th>
                                                            <th>{{_('page_table_title_device_meter_earfcn')}}</th>
                                                            <th class="d-none">{{_('page_table_title_device_meter_power')}}</th>
                                                            <th>{{_('Images')}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="device_meter_list">
                                                    {% for meter in meters | reverse -%}
                                                        <tr>
                                                            <td>
                                                                <span class="text-muted font-13">{{ loop.index }}</span>
                                                            </td>
                                                            <td>
                                                                <i class="mdi {{'mdi-alert-circle text-danger font-16' if meter.is_err else 'mdi-blank'}}" data-toggle="tooltip" data-placement="left" title="{{meter.is_err}}"></i>
                                                                <span class="text-muted font-13">{{ meter.se_id }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-muted font-13">{{ meter.date }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-muted font-13">{{ meter.value }}</span>
                                                            </td>
                                                            <td class="d-none">
                                                                <span class="text-muted font-13 text-success">
                                                                    {% if meter.grow > 0 %}
                                                                    <i class="mdi mdi-arrow-up-bold"></i>{{ meter.grow }}
                                                                    {% endif %}
                                                                    {% if meter.grow < 0 %}
                                                                    <i class="mdi mdi-arrow-down-bold"></i>{{ meter.grow }}
                                                                    {% endif %}
                                                                </span>
                                                            </td>
                                                            <td class="d-none">
                                                                {% if meter.rawdata.Da %}
                                                                <span class="text-muted font-13">{{ meter.rawdata.Da }} {{ meter.rawdata.Ti }}</span>
                                                                {% else %}
                                                                <span class="text-muted font-13">{{ meter.rawdata.DaTi }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if meter.rawdata.SP == 0 %}
                                                                <span class="text-muted font-13">{{ meter.rawdata.SP }}</span>
                                                                {% else %}
                                                                <span class="text-muted font-13">-{{ 65535 - meter.rawdata.SP }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="text-muted font-13">{{ meter.rawdata.SNR }}</span>
                                                            </td>
                                                            <td>
                                                                {% if meter.rawdata.RSRQ == 0 %}
                                                                <span class="text-muted font-13">{{ meter.rawdata.RSRQ }}</span>
                                                                {% else %}
                                                                <span class="text-muted font-13">-{{ 65535 - meter.rawdata.RSRQ }}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <span class="text-muted font-13">{{ meter.rawdata.FCN }}</span>
                                                            </td>
                                                            <td class="d-none">
                                                                <span class="text-muted font-13">{{ meter.rawdata.POW }}</span>
                                                            </td>
                                                            <td>
                                                                {% if meter.img_url -%}
                                                                <img height="24" class="img-rounded meter-img" src="{{url_for('static', filename=meter.img_url)}}?ver={{random}}" alt="no image" data-img-url="{{url_for('static', filename=meter.img_url)}}">
                                                                {%- endif %}
                                                            </td>
                                                        </tr>
                                                    {%- endfor %}
                                                    </tbody>
                                                </table>
                                            </div> <!-- end table-responsive-->
                                        </div> <!-- end col -->
                                    </div>
                                </div><!-- end tab-pane -->
                                <div class="tab-pane d-none" id="meter_image">
                                </div><!-- end tab-pane -->
                            </div><!-- end tab-content -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end col -->

            </div> <!-- end row -->
            <!-- end history meter info -->

        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        {% include 'page_footer.html' %}
    </footer>
    <!-- end Footer -->
</div>
{%- endblock page_body %}

{%- block page_modal %}
<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <img src="" id="modal-img" class="img-fluid" width="800" alt="Responsive image">
                    </div>
                </div>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="ota-model-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <form class="form needs-validation was-validated" novalidate>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <label class="col-form-label">
                                {{_('ota_model_file')}}<small class="text-danger">※</small></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">{{_('ota_model_file_name')}}</div>
                                </div>
                                <input type="text" class="form-control col-auto col-sm-6 col-md-6 col-lg-4 col-xl-4" id="input-ota-model-file-name" placeholder="" value="model.bin" required disabled>
                            </div>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">{{_('ota_model_file_version')}}</div>
                                </div>
                                <input type="text" class="form-control col-auto col-sm-4 col-md-4 col-lg-2 col-xl-2" id="input-ota-model-file-version" placeholder="" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('btn_cancel')}}</button>
                <button type="button" class="btn btn-primary" id="btn-modal-ota-model-submit">{{_('btn_submit')}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%- endblock page_modal %}

{%- block page_script %}
<script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileDownload.js') }}"></script>
<script src="{{ url_for('static', filename='js/konva.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/device_detail.js') }}"></script>
{%- endblock page_script %}