{%- extends 'base.html' %}

{%- block page_body %}
<div class="content-page">
    <div class="content">
        {% include 'page_header.html' %}

        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <div class="form-inline d-inline">
                                <label class="d-none" for="range-date">Date</label>
                                <input type="text" class="form-control date" id="range-date" data-toggle="date-picker" data-time-picker="true" data-locale="{'format': 'YYYY/MM/DD hh:mm A'}">
                            </div>
                            <div class="btn-group ml-2" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-download"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="txt">
                                        <i class="mdi mdi-file-outline"></i>Text File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="csv">
                                        <i class="mdi mdi-file-document-box-outline"></i>CSV File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="xlsx">
                                        <i class="mdi mdi-file-table-outline"></i>Excel File
                                    </a>
                                </div>
                            </div>
                            <a href="javascript: void(0);" class="btn btn-primary ml-2" id="btn-refresh">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                        </div>
                        <h1 class="page-title display-4">{{_('page_device_list')}}</h1>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-12" id="device_list">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-centered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>{{_('page_table_title_no')}}</th>
                                    <th>收件人姓名</th>
                                    <th>收件人电话</th>
                                    <th>微信昵称</th>
                                    <th>收件人地址</th>
                                    <th>
                                        {% if current_user.is_admin -%}
                                        <button type="button" class="btn btn-primary btn-buyer-new d-none d-xl-block">追加</button>
                                        <a href="javascript:void(0);" class="action-icon btn-buyer-new d-block d-xl-none text-lg-left"> <i class="mdi mdi-plus-circle-outline"></i></a>
                                        {%- endif%}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for buyer in buyers -%}
                                <tr>
                                    <td>
                                        <span class="text-muted font-13">{{ loop.index }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="buyer_name_{{buyer.id}}">{{ device.dev_state_desc }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="buyer_phone_{{buyer.id}}">{{ device.dev_id }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="buyer_wx_{{buyer.id}}">{{ device.dev_name }}</span>
                                    </td>
                                    {% if current_user.is_admin -%}
                                    <td>
                                        <span class="text-muted font-13" id="buyer_addr_{{buyer.id}}">{{ device.user_name }}</span>
                                    </td>
                                    {%- endif%}
                                    <td>
                                        <span class="text-muted font-13">{{ device.dev_type_desc }}</span>
                                        <div class="d-none" id="dev_type_{{device.dev_id}}">{{ device.dev_type }}</div>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="dev_rate_{{device.dev_id}}">{{ device.dev_rate }}</span>
                                        <div class="d-none" id="dev_meter_value_{{device.dev_id}}">{{ device.dev_meter_value }}</div>
                                        <div class="d-none" id="dev_config_ocr_inter_{{device.dev_id}}">{{ device.dev_config_ocr_inter }}</div>
                                        <div class="d-none" id="dev_config_uplink_inter_{{device.dev_id}}">{{ device.dev_config_uplink_inter }}</div>

                                        {% if 'ocr_info' in device.dev_config -%}
                                        <div class="d-none" id="dev_ocr_param_startx_{{device.dev_id}}">{{ device.dev_config.ocr_info.start_x }}</div>
                                        <div class="d-none" id="dev_ocr_param_starty_{{device.dev_id}}">{{ device.dev_config.ocr_info.start_y }}</div>
                                        <div class="d-none" id="dev_ocr_param_endx_{{device.dev_id}}">{{ device.dev_config.ocr_info.end_x }}</div>
                                        <div class="d-none" id="dev_ocr_param_endy_{{device.dev_id}}">{{ device.dev_config.ocr_info.end_y }}</div>
                                        <div class="d-none" id="dev_ocr_param_k1_{{device.dev_id}}">{{ device.dev_config.ocr_info.k1 }}</div>
                                        <div class="d-none" id="dev_ocr_param_k2_{{device.dev_id}}">{{ device.dev_config.ocr_info.k2 }}</div>
                                        <div class="d-none" id="dev_ocr_param_win1_{{device.dev_id}}">{{ device.dev_config.ocr_info.win1 }}</div>
                                        <div class="d-none" id="dev_ocr_param_win2_{{device.dev_id}}">{{ device.dev_config.ocr_info.win2 }}</div>
                                        <div class="d-none" id="dev_ocr_param_thresh_{{device.dev_id}}">{{ device.dev_config.ocr_info.ai_threshhold }}</div>
                                        <div class="d-none" id="dev_ocr_param_cutflag_{{device.dev_id}}">{{ device.dev_config.ocr_info.frame_cut_flag }}</div>
                                        {%- endif %}
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">{{ device.dev_power }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="dev_operator_{{device.dev_id}}">{{ device.dev_operator }}</span>
                                        <div class="d-none" id="dev_operator_code_{{device.dev_id}}">{{ device.dev_operator_code }}</div>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">
                                            <i class="mdi mdi-map-marker text-success"></i>{{ device.dev_address01 }}{{ device.dev_address02 }}{{ device.dev_address03 }}{{device.dev_address04}}-{{device.dev_address05}}-{{device.dev_address06}} {{device.dev_address07}}{{device.dev_address08}}</span>
                                        <div class="d-none" id="dev_postcode_{{device.dev_id}}">{{ device.dev_postcode }}</div>
                                        <div class="d-none" id="dev_address01_{{device.dev_id}}">{{ device.dev_address01 }}</div>
                                        <div class="d-none" id="dev_address02_{{device.dev_id}}">{{ device.dev_address02 }}</div>
                                        <div class="d-none" id="dev_address03_{{device.dev_id}}">{{ device.dev_address03 }}</div>
                                        <div class="d-none" id="dev_address04_{{device.dev_id}}">{{ device.dev_address04 }}</div>
                                        <div class="d-none" id="dev_address05_{{device.dev_id}}">{{ device.dev_address05 }}</div>
                                        <div class="d-none" id="dev_address06_{{device.dev_id}}">{{ device.dev_address06 }}</div>
                                        <div class="d-none" id="dev_address07_{{device.dev_id}}">{{ device.dev_address07 }}</div>
                                        <div class="d-none" id="dev_address08_{{device.dev_id}}">{{ device.dev_address08 }}</div>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="dev_comment_{{device.dev_id}}">{{ device.dev_comment }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13">{{ device.dev_updated }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group d-none d-xl-block">
                                            <button type="button" class="btn btn-outline-success btn-sm btn-device-detail" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-eye"></i>{{_('btn_device_detail')}}</button>
                                            <button type="button" class="btn btn-outline-success btn-sm btn-device-proof" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-eye-check"></i>{{_('btn_device_proof')}}</button>
                                            <button type="button" class="btn btn-outline-info btn-sm btn-device-edit" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-square-edit-outline"></i>{{_('btn_device_edit')}}</button>
                                            {% if current_user.is_admin -%}
                                            {% if 'ocr_info' in device.dev_config -%}
                                            <!-- <button type="button" class="btn btn-outline-info btn-sm btn-device-edit-ocr" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-credit-card-scan"></i>OCR {{_('btn_device_edit')}}</button> -->
                                            {%- endif %}
                                            <button type="button" class="btn btn-outline-info btn-sm btn-device-edit-host" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-router-wireless-settings"></i>Config {{_('btn_device_edit')}}</button>
                                            <button type="button" class="btn btn-outline-info btn-sm btn-device-edit-ctrl" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-progress-upload"></i>Ctrl {{_('btn_device_edit')}}</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm btn-device-remove" data-devid="{{device.dev_id}}">
                                                <i class="mdi mdi-delete"></i>{{_('btn_device_remove')}}</button>
                                            {%- endif %}
                                        </div>
                                        <div class="table-action d-block d-xl-none">
                                            <a href="javascript:void(0);" class="action-icon btn-device-detail" data-devid="{{device.dev_id}}"> <i class="mdi mdi-eye"></i></a>
                                            <a href="javascript:void(0);" class="action-icon btn-device-proof" data-devid="{{device.dev_id}}"> <i class="mdi mdi-eye-check"></i></a>
                                            <a href="javascript:void(0);" class="action-icon btn-device-edit" data-devid="{{device.dev_id}}"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            {% if current_user.is_admin -%}
                                            {% if 'ocr_info' in device.dev_config -%}
                                            <!-- <a href="javascript:void(0);" class="action-icon btn-device-edit-ocr" data-devid="{{device.dev_id}}"> <i class="mdi mdi-credit-card-scan"></i></a> -->
                                            {%- endif %}
                                            <a href="javascript:void(0);" class="action-icon btn-device-edit-host" data-devid="{{device.dev_id}}"> <i class="mdi mdi-router-wireless-settings"></i></a>
                                            <a href="javascript:void(0);" class="action-icon btn-device-edit-ctrl" data-devid="{{device.dev_id}}"> <i class="mdi mdi-progress-upload"></i></a>
                                            <a href="javascript:void(0);" class="action-icon btn-device-remove" data-devid="{{device.dev_id}}"> <i class="mdi mdi-delete"></i></a>
                                            {%- endif %}
                                        </div>
                                    </td>
                                </tr>
                            {%- endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        {% include 'page_footer.html' %}
    </footer>
    <!-- end Footer -->
</div>
{%- endblock page_body %}

{%- block page_modal %}
<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <form class="form needs-validation was-validated" novalidate>
                    <div class="form-row">
                        <div class="form-group col-auto col-sm-4 col-md-4 col-lg-2 col-xl-2">
                            <label for="input-name" class="col-form-label">
                                收件人姓名<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-name" data-post_key="" required>
                        </div>
                        <div class="form-group col-auto">
                            <label for="input-devname" class="col-form-label">
                                {{_('dev_name')}}<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-devname" data-post_key="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <label for="input-phone" class="col-form-label">
                                收件人电话<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-phone" data-post_key="phone" required>
                        </div>
                        <div class="form-group col-auto">
                            <label for="input-wx_name" class="col-form-label">微信昵称</label>
                            <input type="text" class="form-control" id="input-wx_name" placeholder="" data-post_key="wx_name">
                        </div>
                        <div class="form-group col-auto">
                            <label for="input-post_code" class="col-form-label">收件人邮编</label>
                            <input type="text" class="form-control" id="input-post_code" placeholder="" data-post_key="post_code">
                        </div>
                        <div class="form-group col-auto">
                            <label for="input-address" class="col-form-label">收件人地址</label>
                            <textarea class="form-control" id="input-address" rows="3" data-post_key="address"></textarea>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btn-modal-submit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%- endblock page_modal %}

{%- block page_script %}
<script src="{{ url_for('static', filename='js/jquery.fileDownload.js') }}"></script>
<script src="{{ url_for('static', filename='js/devices.js') }}"></script>
{%- endblock page_script %}