{%- extends 'base.html' %}

{%- block page_body %}
<div class="content-page">
    <div class="content">
        {% include 'page_header.html' %}

        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <div class="form-inline d-inline">
                                <label class="d-none" for="range-date">Date</label>
                                <input type="text" class="form-control date" id="range-date" data-toggle="date-picker" data-time-picker="true" data-locale="{'format': 'YYYY/MM/DD hh:mm A'}">
                            </div>
                            <div class="btn-group ml-2" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-download"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="txt">
                                        <i class="mdi mdi-file-outline"></i>Text File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="csv">
                                        <i class="mdi mdi-file-document-box-outline"></i>CSV File
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item btn-download" data-file_format="xlsx">
                                        <i class="mdi mdi-file-table-outline"></i>Excel File
                                    </a>
                                </div>
                            </div>
                            <a href="javascript: void(0);" class="btn btn-primary ml-2" id="btn-refresh">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                        </div>
                        <h1 class="page-title display-4">{{_('page_device_list')}}</h1>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-xl-12" id="device_list">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-centered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>{{_('page_table_title_no')}}</th>
                                    <th>收件人姓名</th>
                                    <th>收件人电话</th>
                                    <th>微信昵称</th>
                                    <th>收件人地址</th>
                                    <th>邮编</th>
                                    <th>
                                        <button type="button" class="btn btn-primary btn-buyer-new d-none d-xl-block">追加</button>
                                        <a href="javascript:void(0);" class="action-icon btn-buyer-new d-block d-xl-none text-lg-left"> <i class="mdi mdi-plus-circle-outline"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for buyer in buyers -%}
                                <tr>
                                    <td>
                                        <span class="text-muted font-13">{{ loop.index }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="name_{{buyer.id}}">{{ buyer.name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="phone_{{buyer.id}}">{{ buyer.phone }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="wx_name_{{buyer.id}}">{{ buyer.wx_name }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="address_{{buyer.id}}">{{ buyer.address }}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted font-13" id="post_code_{{buyer.id}}">{{ buyer.post_code }}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group d-none d-xl-block">
                                            <button type="button" class="btn btn-outline-info btn-sm btn-buyer-edit" data-buyerid="{{buyer.id}}">
                                                <i class="mdi mdi-square-edit-outline"></i>编辑</button>
                                        </div>
                                        <div class="table-action d-block d-xl-none">
                                            <a href="javascript:void(0);" class="action-icon btn-buyer-edit" data-buyerid="{{buyer.id}}"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {%- endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        {% include 'page_footer.html' %}
    </footer>
    <!-- end Footer -->
</div>
{%- endblock page_body %}

{%- block page_modal %}
<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <form class="form needs-validation was-validated" novalidate>
                    <div class="form-row">
                        <div class="form-group col-auto d-none">
                            <label for="input-buyer-id" class="col-form-label">
                                收件人ID<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-buyer-id" data-post_key="">
                        </div>
                        <div class="form-group col-auto col-sm-4 col-md-4 col-lg-2 col-xl-2">
                            <label for="input-name" class="col-form-label">
                                收件人姓名<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-name" data-post_key="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <label for="input-phone" class="col-form-label">
                                收件人电话<small class="text-danger">※</small></label>
                            <input type="text" class="form-control" id="input-phone" data-post_key="phone" required>
                        </div>
                        <div class="form-group col-auto">
                            <label for="input-wx_name" class="col-form-label">微信昵称</label>
                            <input type="text" class="form-control" id="input-wx_name" placeholder="" data-post_key="wx_name">
                        </div><br>
                        <div class="form-group col-auto">
                            <label for="input-post_code" class="col-form-label">收件人邮编</label>
                            <input type="text" class="form-control" id="input-post_code" placeholder="" data-post_key="post_code">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-auto">
                            <label for="input-address" class="col-form-label">收件人地址</label>
                            <textarea class="form-control" id="input-address" rows="3" data-post_key="address" required></textarea>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btn-modal-submit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%- endblock page_modal %}

{%- block page_script %}
<script src="{{ url_for('static', filename='js/jquery.fileDownload.js') }}"></script>
<script src="{{ url_for('static', filename='js/devices.js') }}"></script>
{%- endblock page_script %}