<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            2018 - 2019 © Hyper - {{_('page_footer_company')}}
        </div>
        <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-md-block">
                <a href="javascript: void(0);">{{_('page_footer_about')}}</a>
                <a href="javascript: void(0);">{{_('page_footer_support')}}</a>
                <a href="javascript: void(0);">{{_('page_footer_contact')}}</a>
            </div>
        </div>
    </div>
</div>